@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    

  }
  body {
    background : radial-gradient(#757575 1px, #E6E4E2 1.5px) 0 0 / 25px 25px;
    background-attachment: fixed;
 }
}

.h-screen {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
